{% extends 'base.html' %}
{% block title %}TextUtils|Home{% endblock title %}
{% block style %}
#para{
    background-color: #b0b0b06b;
    font-size: 1.5em;
    width: fit-content;
    border-radius: 6px;
}
#para:hover{
    background-color:#7873737a;
}
{% endblock style %}

{% block body %}
<div class="container text-center ">
<h2>About TextUtils</h2>
<div id="para" class="container text-center">
    <p>
        Simple APP to modify your TEXT to your liking.
    </p>
</div>

</div>
{% endblock body %}