{% extends 'base.html' %}
{% block title %}TextUtils|Home{% endblock title %}
{% block style %}
.textarea {
width: 44em;
height: 12em;
}
h1{
margin-left:0;
}
#bd{
display: flex;
flex-direction:column;
justify-content: center;
align-items:center;
}
form{
font-size:1.4em;
}
.buttons{
margin-top:1em;
}
{% endblock style %}

{% block body %}
<div id="warning" class="alert alert-danger d-flex justify-content-center align-items-center alert-dismissible fade show " role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
        class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
        <path
            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </svg>
    <strong>PLEASE CHOOSE ATLEAST ONE OF THE SWITCHES TO PERFORM AN OPERATION!!</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

</div>

<div id="bd" class="container   mt-4 ">
    <form action="/analyze" method='post'>
        {% csrf_token %}
        <textarea class="textarea" name="text" aria-label="With textarea"
            placeholder="Enter your text here...">{{text}}</textarea><br>

        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" name="removepunc">
            <label class="form-check-label" for="flexSwitchCheckDefault">Remove punctuations</label>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" name="capitalize">
            <label class="form-check-label" for="flexSwitchCheckDefault">Capitalize</label>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" name="uppercase">
            <label class="form-check-label" for="flexSwitchCheckDefault">Uppercase</label>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" name="lowercase">
            <label class="form-check-label" for="flexSwitchCheckDefault">Lowercase</label>
        </div>

        <!-- <input type="checkbox" > 
    <input type="checkbox" > Uppercase
    <input type="checkbox" name="lowercase"> Lowercase<br> -->
        <div class="buttons">
            <button id="clear" type="reset" class="btn btn-danger">Clear</button>
            <button type="submit" class="btn btn-success">Analye Text</button>
        </div>
    </form>
</div>
<!-- <form action="/analyze" method='get'>
    <textarea class="form " name="text" aria-label="With textarea"></textarea><br>
    <button class="btn" type="submit">Analyze text</button>
</form> -->
{% endblock body %}